/* .project-card {
   display: inline-flex;
   width: max-content;
   margin: 20px;
   height: 100px;
} */
.project-card {
   display: inline-flex;
   width: max-content;
   margin: 20px;
   height: min-content;

}
.flexcontent{
  display: flex;
}