.project-card {
   display: inline-flex;
   max-width: 250px;
   margin: 20px; 
   padding: 10px;
}
.main-card{
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.flexcontent{
  display: flex;
}
mat-card-header{
  display: flex;
  justify-content: space-between;
}
mat-card-actions{
justify-content: space-evenly;
}