.project-card {
  display: inline-flex;
  max-width: 250px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

.project-card:hover {
  background-color: rgb(217, 215, 219);
}

.main-card {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.flexcontent {
  display: flex;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
}

mat-card-actions {
  justify-content: space-evenly;
}