<mat-card class="project-card">
    <div routerLink="{{project.projectId}}">
        <mat-card-header>
            <mat-card-title>{{project.title}}</mat-card-title>
            <mat-icon *ngIf="project.priority == 'High' || project.priority == 'high'"
                class="position-relative text-danger">flag</mat-icon>
            <mat-icon *ngIf="project.priority == 'Low' || project.priority == 'low'"
            class="position-relative text-success">flag</mat-icon>
            <mat-icon *ngIf="project.priority == 'Medium' || project.priority == 'medium'"
            class="position-relative text-warning">flag</mat-icon>
            <mat-card-subtitle *ngIf="!isAdmin"><strong>Admin:</strong>&nbsp;{{project.admin?.name}}</mat-card-subtitle>
        </mat-card-header>
        <br>
        <mat-card-content>
            <span class="flexcontent">
                <strong>Start Date: </strong>
                <p>&nbsp;{{project.startDate | date}}</p>
            </span>
            <span class="flexcontent">
                <strong>Due Date: </strong>
                <p>&nbsp;{{project.dueDate | date}}</p>
            </span>

            <span>
                <strong *ngIf="isDateLessThanToday" class="text-warning">Project is Overdued.
                    <br><br>
                </strong>
                <strong *ngIf="isDateIsSameAsTodayDate" class="text-warning"> Project Due Today. Please complete
                    Tasks.
                    <br><br>
                </strong>
            </span>

            <span>
                <strong>Description: </strong>
                <p>{{project.description}}</p>
            </span>

        </mat-card-content>
    </div>
    <mat-card-actions *ngIf="isAdmin">
        <button mat-button (click)="openProjectViewDialog()"><mat-icon>edit</mat-icon>Edit</button>
        <button mat-button
            (click)="openConfirmDeleteDialog(project.projectId)"><mat-icon>delete</mat-icon>Delete</button>
    </mat-card-actions>
</mat-card>