<!-- <div cdkDropListGroup class="board-container">
    <app-stage *ngFor="let stage of project.stages" [stage]="stage" [project]="project" class="stage-container"></app-stage>
</div> -->

<div class="root">
    <div class="board">

        <div class="board-wrapper" cdkDropListGroup>
            <div cdkDropList [cdkDropListData]="stage.tasks!" class="board-columns" *ngFor="let stage of stages"
                (cdkDropListDropped)="drop($event)">
                <div class="board-column">
                    <div class="column-title">
                            <h2>{{stage.name}}</h2>
                            <button id="menu" mat-icon-button [matMenuTriggerFor]="menu"
                                style="position: relative;top: -7px;">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        <mat-menu #menu="matMenu">
                            <button class="hamburgerBtn" mat-menu-item (click)="openAddTaskDialog(project,stage)">
                                <mat-icon>add_circle</mat-icon>Add Task
                            </button>

                            <button mat-menu-item (click)="deleteStage(stage.name)">
                                <mat-icon>delete</mat-icon>Delete Stage
                            </button>
                        </mat-menu>
                    </div>
                    <div class="task-container" *ngFor="let task of stage.tasks" cdkDrag [cdkDragData]="task">
                        <mat-card (click)="openTaskDetailsDialogBox(project,task)" class="task">
                            <mat-card-header>
                                <mat-card-title>{{task.title}}</mat-card-title>
                                <mat-card-subtitle><mat-icon
                                        style="position: relative;top: 7px;right: 5px;">assignment_ind</mat-icon>{{task.assignee?.name}}</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="board-column">
                <button mat-button (click)="openAddStageDialog()">Add Stage</button>
            </div>
        </div>
    </div>
</div>