<div cdkDropListGroup class="board-wrapper">
    <div cdkDropList [cdkDropListData]="stage.tasks!" *ngFor="let stage of project.stages" class="board-columns"
        (cdkDropListDropped)="drop($event)">

        <div class="column-title">
            <h1><span class="float-right"><mat-icon class="position-relative">numbers</mat-icon>
                    {{stage?.tasks?.length}}</span>
            </h1>
            <h2>{{stage.name}}</h2>
            <button id="menu" mat-icon-button class="position-relative" style="top: -7px;" [matMenuTriggerFor]="menu" *ngIf="isAdmin">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openAddTaskDialog(project,stage)">
                    <mat-icon>add_circle</mat-icon>Add Task
                </button>

                <button mat-menu-item (click)="openConfirmDeleteDialog(stage.name)">
                    <mat-icon>delete</mat-icon>Delete Stage
                </button>
            </mat-menu>
        </div>

        <div class="task-main">
            <div cdkDrag [cdkDragData]="task" *ngFor="let task of stage.tasks" class="task-list">
                <mat-card (click)="openTaskDetailsDialogBox(project,task,stage.name!)" class="task">
                    <mat-card-header>
                        <mat-card-title>{{task.title}}</mat-card-title>
                        <mat-card-subtitle><mat-icon
                                class="position-relative">assignment_ind</mat-icon>{{task.assignee?.name}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <h3 *ngIf="!stage?.tasks?.length">No tasks found !</h3>
        </div>
    </div>
    <div *ngIf="isAdmin">
        <button class="btn1" (click)="openAddStageDialog()" title="Add Stage"><mat-icon
                class="position-relative">add</mat-icon>Add Stage</button>
    </div>
</div>