<mat-toolbar>
        <img src="../assets/images.png" alt="logo">
        <span class="name">Kanban Board</span>
        <span class="spacer"></span>
        <button mat-stroked-button class="btn" *ngIf="!isLoggedIn" routerLink="/login"
                routerLinkActive="active"><mat-icon>login</mat-icon>Login
        </button>
        <button mat-stroked-button class="btn" *ngIf="!isLoggedIn" routerLink="/register"
                routerLinkActive="active"><mat-icon>app_registration</mat-icon>Register
        </button>

        <button mat-button id="menu" *ngIf="isLoggedIn" routerLink="/home"><mat-icon>home</mat-icon>Home</button>
        &nbsp;&nbsp;

        <button mat-button id="menu" *ngIf="isLoggedIn"
                routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</button>
        &nbsp;&nbsp;

        <div *ngIf="isLoggedIn" [matMenuTriggerFor]="menu">
                <img *ngIf="isDefaultImage()" src="{{user.image}}" alt="profile_pic">
                <img *ngIf="!isDefaultImage()" id="image" src="data:image/jpeg;base64,{{user.image}}" alt="profile-pic">
        </div>

        <!-- <mat-icon>account_circle </mat-icon> -->
        <mat-menu #menu="matMenu">
                <div class="profile">
                        <div *ngIf="isLoggedIn" [matMenuTriggerFor]="menu">
                                <img *ngIf="isDefaultImage()" src="{{user.image}}" alt="profile_pic">
                                <img *ngIf="!isDefaultImage()" id="image" src="data:image/jpeg;base64,{{user.image}}"
                                        alt="profile-pic">
                        </div>
                        <h3>{{user.name}}<br>{{user.email}}</h3>
                </div>
                <mat-divider></mat-divider>
                <button mat-menu-item mat-dialog-close (click)="openChangePasswordDialog()">
                        <mat-icon>remove_red_eye</mat-icon>
                        <span class="myspan">Change Password</span>
                </button>
                <button mat-menu-item mat-dialog-close routerLink="/update">
                        <mat-icon>update</mat-icon>
                        <span class="myspan">Update Profile</span>
                </button>
                <button mat-menu-item mat-dialog-close (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <span class="myspan">Logout</span>
                </button>
        </mat-menu>
</mat-toolbar>