.form {
     width: max-content;
     height: max-content;
     padding: 30px;
     background-image: url("https://img.freepik.com/free-photo/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product_1258-54675.jpg");
}

.form-group {
     width: 100%;
}

.mybtn {
     display: flex;
     justify-content: center;
}