<form [formGroup]="changeP" (ngSubmit)="changePassword()" class="form">
     <!-- <mat-form-field class="form-group" [ngClass]="{'has-error':!changeP.controls['email'].valid 
     && changeP.controls['email'].touched}">
          <mat-label for="email">Email</mat-label>
          <input type="email" matInput name="email" class="form-control" id="email" placeholder="Email"
               [formControl]="changeP.controls['email']" />
          <small *ngIf="changeP.controls['email'].hasError('required')
        && changeP.controls['email'].touched" class="text-danger">Email is Required</small>
     </mat-form-field> -->

     <mat-form-field class="form-group" [ngClass]="{'has-error':!changeP.controls['currentPassword'].valid 
     && changeP.controls['currentPassword'].touched}">
          <mat-label for="password">Current Password</mat-label>
          <input type="password" matInput name="currentPassword" class="form-control" id="currentPassword"
               placeholder="Current Password" [formControl]="changeP.controls['currentPassword']" />
          <small *ngIf="changeP.controls['currentPassword'].hasError('required')
        && changeP.controls['currentPassword'].touched" class="text-danger">Current Password Required
          </small>
     </mat-form-field>

     <mat-form-field class="form-group" [ngClass]="{'has-error':!changeP.controls['password'].valid 
     && changeP.controls['password'].touched}">
          <mat-label for="password">New Password</mat-label>
          <input type="password" matInput name="password" class="form-control" id="password" placeholder="New Password"
               [formControl]="changeP.controls['password']" />
          <small *ngIf="changeP.controls['password'].hasError('required')
        && changeP.controls['password'].touched" class="text-danger">New Password Required
          </small>
          <small *ngIf="changeP.controls['password'].hasError('pattern')" class="text-danger">Password must have min 8
               characters with at least a symbol, upper and lower case letters and a number
          </small>
     </mat-form-field>

     <mat-form-field class="form-group" [ngClass]="{'has-error':!changeP.controls['confirmPassword'].valid 
     && changeP.controls['confirmPassword'].touched}">
          <mat-label for="password">Confirm new Password</mat-label>
          <input type="password" matInput name="password" class="form-control" id="confirmPassword"
               placeholder="Confirm New Password" [formControl]="changeP.controls['confirmPassword']" />
          <small *ngIf="changeP.controls['confirmPassword'].hasError('required')
     && changeP.controls['confirmPassword'].touched" class="text-danger">Confirm New Password Required
          </small>
          <small *ngIf="confirmPassword?.errors?.['mustMatch'] === true" class="text-danger">
               Password and Confirm Password should match.
          </small>
     </mat-form-field>

     <div class="form-group text-center mybtn">
          <button mat-stroked-button mat-dialog-close color="primary" style="margin-right: 50px;">Close</button>
          <button mat-stroked-button mat-dialog-close color="primary" type="submit" class="btn btn-default"
               [disabled]="!changeP.valid">Change Password</button>
     </div>
</form>