<div class="form-container shadow-lg p-3 mb-5 bg-white rounded">
     <form (ngSubmit)="onSubmit(resetPassword)" [formGroup]="resetPassword">

          <mat-form-field appearance="outline" class="half_wide">
               <mat-label>Password</mat-label>
               <input matInput type="password" formControlName="password" placeholder="Create Password">
               <mat-icon matSuffix>password</mat-icon>
               <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
               <mat-error *ngIf="password?.errors?.['pattern']">
                    Password must have min 8 characters with at least a symbol, upper and lower case letters and a
                    number
               </mat-error>
          </mat-form-field><br>
          <mat-form-field appearance="outline" class="half_wide">
               <mat-label>Confirm Password</mat-label>
               <input matInput type="password" formControlName="confirmPassword" placeholder="Retype Created Password">
               <mat-icon matSuffix>password</mat-icon>
               <mat-error *ngIf="confirmPassword?.errors?.['mustMatch'] === true">
                    Password and Confirm Password should match.
               </mat-error>
          </mat-form-field>
          <div class="button">
               <button type="submit" mat-raised-button class="btncolor"
                    [disabled]="resetPassword.invalid">Reset Password</button>
          </div>
     </form>
</div>