<div class="container">
    <h1 mat-dialog-title>Add new stage</h1>
    <form mat-dialog-content (ngSubmit)="addStage(stageForm)" [formGroup]="stageForm">

        <mat-form-field appearance="outline" class="full_wide">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Stage Name">
            <mat-icon matSuffix>view_column</mat-icon>
            <mat-error *ngIf="name?.errors?.['required']">Name is required</mat-error>
            <mat-error *ngIf="name?.errors?.['minlength']">
                Name should have minimum of {{name?.errors?.['minlength']?.requiredLength}} characters
            </mat-error>
        </mat-form-field><br><br>

        <div mat-dialog-actions class="button">
            <button mat-button mat-dialog-close>No</button>
            <button type="submit" mat-raised-button class="backcolor"
                mat-dialog-close [disabled]="stageForm.invalid">Add</button>
        </div>
    </form>
</div>