<mat-card class="project-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image">{{project.admin?.name}}</div>
        <mat-card-title>{{project.title}}</mat-card-title>
        <mat-card-subtitle>{{project.admin?.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{project.startDate}}<span></span>{{project.dueDate}}
        <!-- <p>{{project.description}}</p> -->
        <mat-option *ngFor="let task of project.tasks">{{task}}</mat-option>
        <!-- <mat-chip>{{project.priority}}</mat-chip> -->
        <h3 style="font-weight: bold;" *ngIf="project.priority == 'High' || project.priority == 'critical'">Priority:
            <span class="badge badge-pill badge-danger"> {{project.priority}}</span>
        </h3>
        <h3 style="font-weight: bold;" *ngIf="project.priority == 'Low' || project.priority == 'low'">Priority: <span
                class="badge badge-pill badge-light"> {{project.priority}}</span>
        </h3>
        <h3 style="font-weight: bold;" *ngIf="project.priority == 'Medium' || project.priority == 'medium'">Priority:
            <span class="badge badge-pill badge-dark"> {{project.priority}}</span>
        </h3>
        <br><br>
        <mat-progress-bar mode="determinate" value="project.status"></mat-progress-bar>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button (click)="openAddProjectDialog()"><mat-icon>edit</mat-icon>Edit</button> -->
        <button mat-button><mat-icon>delete</mat-icon>Delete</button>
    </mat-card-actions>
</mat-card>