form {
     display: flex;
}

.container {
     padding: 20px;
     width: 100%;
}

.title {
     height: min-content;
     padding-left: 20px;
     padding-top: 3px;
     background-color: rgb(231, 217, 241);
     border-radius: 10px;
}

span {
     font-size: medium;
}

mat-form-field {
     width: 100%;
}

.button {
     float: right;
     /* margin-top: 50px; */
}

button {
     border-radius: 10px;
}

.mycard {
     margin-bottom: 10px;
     padding-top: 15px;
     padding-left: 10px;
     display: flex;
}

.comment {
     margin-right: 10px;
     border-radius: 50%;
     background-color: rgb(196, 13, 74);
     color: white;
     padding: 0 10px;
     font-weight: bold;
}

.commentbox {
     background-color: gainsboro;
     padding: 5px;
     margin: 5px;
     height: 150px;
     overflow-y: auto;
     overflow-x: hidden;
     border-radius: 10px;
}

.com {
     margin-left: 50px;
     margin-top: -30px;
}

.close {
     display: flex;
     align-self: self-end;
}
.givetop{
     top: 4px;
}