<div class="container">
     <div mat-dialog-action class="close">
          <button mat-button mat-dialog-close (click)="openConfirmDeleteDialog()"
               *ngIf="isAdmin"><mat-icon>delete</mat-icon></button>
          <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
     </div>
     <div class="title" role="alert">
          <h2>{{task?.title}}</h2>
     </div>
     <div>
          <h3 class="font-weight-bold">Assignee: {{task?.assignee?.name}}</h3>
          <h3 class="font-weight-bold">Status: <span class=" badge badge-pill badge-info">{{task?.status}}</span>
          </h3>
          <h3 class="font-weight-bold">Priority:
               <mat-icon *ngIf="task.priority == 'High' || task.priority == 'high'"
                    class="position-relative text-danger givetop">flag</mat-icon>
               <mat-icon *ngIf="task.priority == 'Low' || task.priority == 'low'"
                    class="position-relative text-success givetop">flag</mat-icon>
               <mat-icon *ngIf="task.priority == 'Medium' || task.priority == 'medium'"
                    class="position-relative text-warning givetop">flag</mat-icon>
          </h3>
          <h3><span class="font-weight-bold">Description: </span>
               <span class="font-weight-light">{{task?.description}}</span>
          </h3>
     </div>
     <div>
          <form (ngSubmit)="addCommentOnTask()" [formGroup]="formComment">

               <mat-form-field appearance="outline">
                    <mat-label>Add comment here</mat-label>
                    <input matInput formControlName="comment" class="form-control">
                    <button type="submit" mat-button class="button">Comment</button>
                    <mat-error *ngIf="comment?.errors?.['minlength']">
                         comment should have minimum of {{comment?.errors?.['minlength']?.requiredLength}}
                         characters
                    </mat-error>
               </mat-form-field><br><br>

          </form>
     </div>
     <h3 class="font-weight-bold">All comments are here</h3>
     <div class="commentbox">
          <div *ngFor="let comment of comments">
               <div class="mycard">
                    <h3 class="comment">{{getFirstCharOfName(comment?.commenter?.name)}}</h3>
                    <h4 class="font-weight-bold">{{comment?.commenter?.name}}</h4>
               </div>
               <h3 class="com">{{comment?.comment}}</h3>
          </div>
          <h3 *ngIf="!comments?.length" class="font-weight-bold text-center">No Comments!</h3>
     </div>
</div>