<div class="container">
     <!-- <h1 *ngIf="vehicle.operation === undefined" mat-dialog-title>Update Vehicle</h1> -->
     <!-- <h1 *ngIf="vehicle.operation" mat-dialog-title>Add Vehicle</h1> -->
     <div mat-dialog-content>
         Would you like to add
         <!-- <span *ngIf="vehicle.operation === undefined">update details of SKU: <strong>{{vehicle.id}}</strong> ?</span> -->
         <!-- <span *ngIf="vehicle.operation">add <strong>{{vehicle.make}} {{vehicle.model}}</strong> to database ?</span> -->
     </div>
     <div mat-dialog-actions>
         <button mat-button mat-dialog-close>No</button>
         <button mat-button mat-dialog-close cdkFocusInitial (click)="onClickYes()">Yes</button>
     </div>
 </div>
 