.form-container {
     margin: 1.5rem auto;
     width: fit-content;
     text-align: center;
     padding: 15px;
     border-radius: 15px;
 }
 
 h1 {
     font-weight: 500;
 }
 
 .full_wide {
     width: 100%
 }
 
 .button {
     display: flex;
     justify-content: space-evenly;
 }
 
 button {
     padding: 0 2rem;
     margin: 2% 7%;
 }
 