<div class="form-container">
     <mat-icon>lock</mat-icon>
     <h1>Forgot Password</h1>
     <mat-form-field appearance="outline" id="wide">
         <mat-label>Registered Email Id</mat-label>
         <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
         <mat-icon matSuffix>email</mat-icon>
         <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
             Please enter a <strong>valid email</strong> address
         </mat-error>
         <mat-error *ngIf="emailFormControl.hasError('required')">
             Email is <strong>required</strong>
         </mat-error>
     </mat-form-field>
     <div>
         <button type="button" mat-raised-button color="primary" [disabled]="emailFormControl.invalid"
             (click)="verifyUserAndGenerateToken()">Sent OTP to mail</button>
     </div>
 </div>