.form-container {
    margin: 1.5rem auto;
    width: 500px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    background-image: url("https://img.freepik.com/free-photo/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product_1258-54675.jpg");
}


.full_wide {
    width: 100%;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.button {
    color: white;
    background-color: rgb(149, 76, 218);
    margin-left: 15px;
}

img {
    height: 150px;
    width: 150px;
}

.submitdiv {
    margin-top: 10px;
}
.edit{
    margin-top: 20px;
}