<div class="form-container">
     <form (ngSubmit)="updateUser(updateForm)" [formGroup]="updateForm">
          <div>
               <h1>Update User Details</h1>
               <!-- <img *ngIf="selectedImage" [src]="selectedImage" alt="profile pic">
               <img *ngIf="user.image" src="data:image/jpeg;base64,{{user.image}}" />
               <input type="file" accept="image/*" formControlName="image" (change)="onFileChanged($event)"> -->

               <mat-form-field appearance="outline" class="full_wide">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Full Name">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="name?.errors?.['required']">Name is required</mat-error>
                    <mat-error *ngIf="name?.errors?.['minlength']">
                         Name should have minimum of {{name?.errors?.['minlength']?.requiredLength}} characters
                    </mat-error>
               </mat-form-field><br><br>

               <mat-form-field appearance="outline" class="full_wide">
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="tel" formControlName="phoneNo" placeholder="10 Digit Long Phone Number">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="phoneNo?.errors?.['required']">Phone number is required</mat-error>
                    <mat-error *ngIf="phoneNo?.errors?.['pattern']">
                         Valid phone number contains 10 digits and starts with 7/8/9
                    </mat-error>
               </mat-form-field><br>

               <div class="picture">
                    <div>
                         <h1>Profile Picture</h1>
                         <img *ngIf="isDefaultImage()" [src]="user.image" alt="default image">
                         <img *ngIf="!isDefaultImage()" src="data:image/jpeg;base64,{{user.image}}" alt="user image">
                    </div>
                    <input hidden type="file" accept="image/*" formControlName="image" #image
                         (change)="onFileChanged($event)">
                    <button type="button" mat-flat-button extended class="edit"
                         (click)="image.click()"><mat-icon>image</mat-icon> Select Picture
                    </button>
               </div>
          </div>

          <div class="submitdiv">
               <button type="button" mat-raised-button routerLink="/dashboard">Close</button>
               <button type="submit" class="button" mat-button [disabled]="updateForm.invalid">Update</button>
          </div>
     </form>
</div>