.container {
    padding: 10px;
    background-color: gainsboro;
    border-radius: 10px;
}

.main-container {
    overflow-y: scroll;
    height: 85%;
    width: 100%;
}

h1 {
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(80, 3, 80);
}

h3 {
    padding-left: 10px;
}

button {
    padding: 15px;
    float: right;
    margin: 20px 105px;
    background-color: gainsboro;
    text-transform: uppercase;
}

.table {
    width: 50%;
    margin-left: 30px;
}