.container {
    padding: 10px;
    /* background-color: gainsboro; */
    background-image: url("https://img.freepik.com/free-photo/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product_1258-54675.jpg");
    border-radius: 10px;
}

.main-container {
    overflow-y: scroll;
    height: 85%;
    width: 100%;
}

h1 {
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(80, 3, 80);
}

h3 {
    padding-left: 30px;
    font-weight: bold;

}

button {
    padding: 15px;
    float: right;
    margin: 20px 105px;
    background-color: rgb(236, 208, 236);
    text-transform: uppercase;
}

.table {
    width: 50%;
    margin-left: 30px;
}

.div1 {
    display: flex;
}

mat-icon {
    position: relative;
    top: 4px;
}